body{
    margin: 0;
    background-color: #02141b;
    overflow-x: hidden;
}
header{
    background-color: #6d976a;
}
header a{
    color: #000000 !important;
}

#carouselExampleCaptions img{
    filter: opacity(50%);
}
                

.all-items a{
    text-decoration: none;
    color: white;
}

.box-r,.box-l{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    z-index: 222;
}

.box-r{
    transform: translate(80px);
}
.box-l{
    transform: translate(-80px);

}
.card{
    height: 500px;
    padding: 10%;
    border-radius: 10px;
    margin: 10% 8%;
    color: white;
    z-index: 222;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.card hr{
    height: 4px;
    color: #6d976a;
    box-shadow: 1px 1px 3px white;
}
.package-heading{
    font-size: 2.5rem;
    color: #c9dcc9;
    font-weight: bolder;
    text-shadow: 1px 1px 2px white;
}


footer{
    background-color: #6d976a;
    margin-top: 120px !important;
}

.footer-icons, .footer-text{
    text-align: center;
}
.footer-icons a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}


@media only screen and (max-width: 768px) {

    .right, .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        overflow-anchor: none;
    }

    .box-r, .box-l{
        transform: translate(0px, -80px);
        width: 70%;
        
    }
  }


/* scroll animations */
.box{
    transform: translateX(400%);
    transition: transform 0.8s ease ;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}



.rmv-txt-dec{
    text-decoration: none;
}

.bkash-qr{
    width: 35%;
}